# Dépendances de développement
-r requirements.txt

# Tests
pytest==8.0.0
pytest-qt==4.2.0
pytest-cov==4.1.0

# Qualité du code
flake8==6.1.0
black==24.1.1
isort==5.13.2
mypy==1.8.0

# Documentation
mkdocs==1.5.3
mkdocs-material==9.5.2

# Empaquetage
setuptools==69.0.2
wheel==0.42.0
twine==5.0.0

# Build
pyinstaller==6.0.0
